body {
  width: 60em;
  margin: 0 auto;
  display: grid;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  grid-column: 1 / span 3;
  grid-row: 1;
}

#orange {
  background-color: #ffc788;
  grid-column: 1 / span 2;
  grid-row: 3;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;

  grid-row: 2 / span 2;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
